@page
@using Test.auth.Pages
@model IndexModel
@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<h1 class="mt-5">Welcome to AuthServer!</h1>
<p class="lead">Powered by IdentityServer4 <small>(version @version)</small></p>

<h3>config</h3>
<p>AllowedClient: @Model.AllowedClientUrl</p>
<p>ClientId: @Model.AzureAdClientId<p>
<p></p>
<h4>Azure Key Vault values</h4>
<p>
    <span style="font-weight: bold">Configuration.GetConnectionString("AuthDb")</span>
    <span>@Model.ConnectionString1</span>
</p>
<p>
    <span style="font-weight: bold">Configuration.GetConnectionString("BankDatabase")</span>
    <span>@Model.ConnectionString2</span>
</p>
<p>
    <span style="font-weight: bold">Configuration["SecretName"]</span><br />
    <span>@Model.Secret1</span>
</p>
<p>
    <span style="font-weight: bold">Configuration["Section:SecretName"]</span><br />
    <span>@Model.Secret2</span>
</p>
<p>
    <span style="font-weight: bold">Configuration.GetSection("Section")["SecretName"]</span><br />
    <span>@Model.Secret3</span>
</p>
<p>
    <span style="font-weight: bold">Configuration.GetValue&lt;string&gt;("SecretName")</span><br />
    <span>@Model.Secret4</span>
</p>
<h4>Azure Key Vault keys</h4>

<h5>SigningKeys</h5>
<p>
    <h6>Current</h6>
    <span style="font-weight: bold">KeyId</span><br />
    <span>@Model.SigningKeys.Current.Version</span><br />
    <span style="font-weight: bold">Algorithm</span><br />
    <span>@Model.SigningKeys.Current.Algorithm</span><br />
    <span style="font-weight: bold">NotBefore</span><br />
    <span>@Model.SigningKeys.Current.NotBefore</span><br />
    <span style="font-weight: bold">ExpireDate</span><br />
    <span>@Model.SigningKeys.Current.ExpiresOn</span>
</p>
<p>
    <h6>Previous</h6>
    @if(Model.SigningKeys.Previous != null)
    {
        <span style="font-weight: bold">KeyId</span><br />
        <span>@Model.SigningKeys.Previous.Version</span><br />
        <span style="font-weight: bold">Algorithm</span><br />
        <span>@Model.SigningKeys.Previous.Algorithm</span><br />
        <span style="font-weight: bold">NotBefore</span><br />
        <span>@Model.SigningKeys.Previous.NotBefore</span><br />
        <span style="font-weight: bold">ExpireDate</span><br />
        <span>@Model.SigningKeys.Previous.ExpiresOn</span>
    }
    else
    {
        <span style="font-weight: bold">Not existing</span>
    }
</p>
<p>
    <h6>Future</h6>
    @if(Model.SigningKeys.Future != null)
    {
        <span style="font-weight: bold">KeyId</span><br />
        <span>@Model.SigningKeys.Future.Version</span><br />
        <span style="font-weight: bold">Algorithm</span><br />
        <span>@Model.SigningKeys.Future.Algorithm</span><br />
        <span style="font-weight: bold">NotBefore</span><br />
        <span>@Model.SigningKeys.Future.NotBefore</span><br />
        <span style="font-weight: bold">ExpireDate</span><br />
        <span>@Model.SigningKeys.Future.ExpiresOn</span>
    }
    else
    {
        <span style="font-weight: bold">Not existing</span>
    }
</p>

<p><a href=".well-known/openid-configuration">Discovery document</a></p>
<p><a href="Login">Go to login</a></p>
<p><a href="@Model.ClientUrl">Go to client</a></p>