@page
@using Test.auth.Pages
@model IndexModel
@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<h1 class="mt-5">Welcome to AuthServer!</h1>
<p class="lead">Powered by IdentityServer4 <small>(version @version)</small></p>

<h3>config</h3>
<p>AllowedClient: @Model.AllowedClientUrl</p>
<p>ClientId: @Model.AzureAdClientId<p>
<p></p>
<h4>Azure Key Vault values</h4>
<p>
    <span style="font-weight: bold">ConnectionString:Test</span>
    <span>@Model.ConnectionString</span>
</p>
<p>
    <span style="font-weight: bold">Configuration["SecretName"]</span><br />
    <span>@Model.Secret1</span>
</p>
<p>
    <span style="font-weight: bold">Configuration["Section:SecretName"]</span><br />
    <span>@Model.Secret2</span>
</p>
<p>
    <span style="font-weight: bold">Configuration.GetSection("Section")["SecretName"]</span><br />
    <span>@Model.Secret3</span>
</p>
<p>
    <span style="font-weight: bold">Configuration.GetValue&lt;string&gt;("SecretName")</span><br />
    <span>@Model.Secret4</span>
</p>
<p></p>
<p><a href="Login">Go to login</a></p>
<p><a href="@Model.ClientUrl">Go to client</a></p>