@page
@using Test.auth.Pages
@model IndexModel
@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<h1 class="mt-5">Welcome to AuthServer!</h1>
<p class="lead">Powered by IdentityServer4 <small>(version @version)</small></p>

<h3>config</h3>
<p>ConnectionString: @Model.ConnectionString</p>
<p>AllowedClient: @Model.AllowedClientUrl</p>
<p>ClientId: @Model.AzureAdClientId<p>
<p></p>
<p>
    <span style="font-weight: bold">Configuration["SecretName"]</span><br />
    <span>@Model.Secret1</span>
</p>
<p>
    <span style="font-weight: bold">
        Section:SecretName (Name in Key Vault: 'Section--SecretName')<br />
        Obtained from Configuration with Configuration[""Section:SecretName""]
    </span><br />
    <span>@Model.Secret2</span>
</p>
<p>
    <span style="font-weight: bold">
        Section:SecretName (Name in Key Vault: 'Section--SecretName')<br />
        Obtained from Configuration with Configuration.GetSection(""Section"")[""SecretName""]
    </span><br />
    <span>@Model.Secret3</span>
</p>
<p></p>
<p><a href="Login">Go to login</a></p>
<p><a href="@Model.ClientUrl">Go to client</a></p>